{{#each countries}}
<div class="country-info">
    <img class="country-info__img" src="{{this.flags.svg}}" alt="flag" width="300">
    <ul class="country-description">
        <li class="country-description__item">
            <p class="country-description__official-name">Офіційна назва країни: </p><span
                class="mark-text">{{this.name.official}}</span>
        </li>
        <li class="country-description__item">
            <p class="country-description__population">Населення: </p><span class="mark-text">{{this.population}}</span>
        </li>
        <li class="country-description__item">
            <p class="country-description__capital">Столиця: </p><span class="mark-text">{{#each this.capital}}</span>
        </li>
        <li class="country-description__item">
            <p class="country-description__languages">Державна мова: </p><span
                class="mark-text">{{this.languages}}</span>
        </li>
    </ul>
</div>
{{/each}}